.button {
	transition: all 80ms ease-in-out;
	color: hsl(0, 0%, 45%);
	border: none;
	border-radius: 4px;
	background-color: hsl(0, 0%, 95%);
}

button:hover {
	cursor: pointer;
	color: hsl(0, 0%, 20%);
	background-color: hsl(0, 0%, 90%);
}

button:active {
	color: hsl(0, 0%, 20%);
	background-color: hsl(0, 0%, 90%);
	scale: 0.9;
}

.navButton {
	@composes: button;
	font-size: 1rem;
	color: hsl(216, 66%, 20%);
	background-color: hsl(216, 66%, 95%);
}

.navButton:hover,
.navButton:active {
	background-color: hsl(216, 66%, 92%);
}

.backButton {
	composes: button;
	padding: 8px;
	color: hsl(216, 66%, 20%);
	background-color: hsl(216, 66%, 95%);
	place-self: center;
}

.buttonValidation {
	composes: button;
	padding: 8px;
	color: hsl(97, 66%, 20%);
	background-color: hsl(97, 66%, 95%);
	place-self: center;
}

.closeButton {
	composes: button;
	padding: 12px;
	color: hsl(5, 65%, 12%);
	background-color: hsl(5, 65%, 98%);
}

.openCalendar {
	composes: button;
	font-size: 0.6rem;
	display: flex;
	align-items: center;
	flex-flow: nowrap;
	flex-direction: row;

	justify-content: center;
	width: 85px;
	padding: 8px 12px;
	letter-spacing: 0.8px;
	gap: 6px;
}